*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;    
}

nav #items-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    background-color: black;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(74, 128, 179);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

#sous-menu {
    position: absolute;
    top: 4.5vh;
    right: 10px;
    display: none;
    background-color: rgb(0, 0, 0);
    width: 200px;
}

#sous-menu li{
    padding:20px 10px 10px 10px;
}

#admin{
    text-align: center;
}

#admin:hover #sous-menu{
    display: block;
} 

#sous-menu li:hover{
    background-color: rgb(74, 128, 179);
}

.nav-link:hover{
    border-bottom: 3px solid rgb(74, 128, 179);
}

#container-page{
    margin-top: 7vh;
    background-color: #1d1b1b;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h2{
    padding: 100px 50px 50px 50px;
    color: rgb(73, 136, 185);
}

#retour a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
    
}

#retour a i{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.7);
}

#compteur{
    color: rgb(74, 128, 179);
}

li{
    list-style: none;
}

#container-films{
    background-color: rgb(73, 136, 185);
    color: white;
    width: 40vh;
    min-height: 100px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;

}

ul{
    display: flex;
    flex-direction: column;
    gap: 30px;   
    font-size: 1.2rem; 
    text-align: center;
}