*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #010101;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(74, 128, 179);
}

.nav-link:hover{
    border-bottom: 3px solid rgb(74, 128, 179);
}

#container-page{
    background-color: #1d1b1b;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 50px;
    color : rgb(73, 136, 185);
}

#retour{
    padding: 10px 0px 30px 0;
}

#retour a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

#retour a i{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.7);
}

#container-infos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

#synopsis{
    background-color: rgb(151, 147, 147);
    border-radius: 10px;
    width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    text-align: justify;
    padding: 20px;
}

#container-infos img{
    width: 300px;
}

#container-bottom{
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#infos-film{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 1.1rem;
    padding-right: 30px;
}

#container-casting{
    background-color : rgb(73, 136, 185);
    border-radius: 100px;
    width: 400px;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: white;
    padding-bottom: 10px;
}

#container-casting h4{
    font-size: 1.3rem;
    padding-top: 20px;
}

#container-casting ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container-casting li{
    list-style: none;
}