*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid rgb(74, 128, 179);
    height: 7vh;
    background-color: black;
}

nav #items-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 100%;
}

.nav-link:hover{
    border-bottom: 3px solid rgb(74, 128, 179);
}

#admin{
    text-align: center;
}
                                 /********  SOUS MENU ************/
#admin:hover #sous-menu{
    display: block;
} 

#sous-menu {
    position: absolute;
    top: 4.5vh;
    right: 10px;
    display: none;
    background-color: rgb(0, 0, 0);
    width: 200px;
}

#sous-menu li{
    padding:20px 10px 10px 10px;
}

#sous-menu li:hover{
    background-color: rgb(74, 128, 179);
}

/*Menu burger*/
/*Est désactivé de base, car nous le voulons seulement pour tablettes et mobiles*/
.burger {
    display: none;
}

                                        /************  CONTAINER PAGE **************/

#container-page{
    margin-top: 7vh;
    background-color: #1d1b1b;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
h2{
    padding: 50px 50px 50px 50px;
    color: rgb(73, 136, 185);
    font-size: 2rem;
}

#retour a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px; 
}

#retour a i{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.7);
}

#compteur{
    color: white;
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
}

figure img{
    width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 5px;
}

figcaption{
    padding: 5px;
    text-align: center;
    color: white;
}

#bar{
    background-color: rgb(73, 136, 185);
    width: 80%;
    height: 2px;
}

li{
    list-style: none;
}

                                /************  CONTAINER FILMS **************/

#container-films{
    border-radius: 10px;
    width: 90%;
    min-height: 10px;
    padding-bottom: 10px;
}

#container-films ul{
    display: flex;
    flex-direction: column;
    gap: 30px;   
    font-size: 1.4rem; 
    text-align: center;
    padding-bottom: 50px;
}

#container-films li a{
    color: rgb(119, 119, 119);    
}


                                        /************* RESPONSIVE ****************/

/*Tablette*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

    #admin{
        display: none;
    }

    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    figure img{
        width: 300px;
        height: 400px;
    }

    header{
        position: relative;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav #items-menu {
        flex-direction: column;
        height: auto;
        margin-top: 0;
        top: 0;
        position: absolute;
        transform: translateY(-250px);
    }

    nav #items-menu span{
        display: none;
    }

    /*Menu burger*/
    .burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar-burger {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        transition: all .5s ease-in-out;
    }

    .bar-burger::before,
    .bar-burger::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }


    /*Ici on indique à combien de pixels se trouvent les barres du dessous et du dessus*/
    .bar-burger::before {
        transform: translateY(-12px)
    }

    .bar-burger::after {
        transform: translateY(12px)
    }

    nav{
        background-color: black;
    }

        /*Cette class show-nav a été ajoutée à partir du code JS, elle permet de réafficher les éléments (placés auparavant dans la partie non visible de l'écran en haut*/
        .show-nav #items-menu {
            /*Il faut à nouveau ajouter la couleur de fond car sinon les éléments sortent du flux (=ils sortent du menu)*/
            background-color: black;
            /*La taille que prennent  les éléments par rapport à la largeur du viewport*/
            width: 100vw;
            height: 100vh;
            /*On remet les éléments à leur place d'origine*/
            transform: translateY(0);
            transition: 2s;
        }
    
        .show-nav .burger {   
            transition: 2s;
        }

}

/*Mobile*/

@media screen and (max-width: 600px) {

    #admin{
        display: none;
    }

    figure{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    figure img{
        width: 200px;
        height: 300px;
    }

    header{
        position: relative;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav #items-menu {
        flex-direction: column;
        height: auto;
        margin-top: 0;
        top: 0;
        position: absolute;
        transform: translateY(-250px);
    }

    nav #items-menu span{
        display: none;
    }

    /*Menu burger*/
    .burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .bar-burger {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: rgb(255, 255, 255);
        transition: all .5s ease-in-out;
    }

    .bar-burger::before,
    .bar-burger::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: rgb(255, 255, 255);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }


    /*Ici on indique à combien de pixels se trouvent les barres du dessous et du dessus*/
    .bar-burger::before {
        transform: translateY(-12px)
    }

    .bar-burger::after {
        transform: translateY(12px)
    }

    nav{
        background-color: black;
    }

        /*Cette class show-nav a été ajoutée à partir du code JS, elle permet de réafficher les éléments (placés auparavant dans la partie non visible de l'écran en haut*/
        .show-nav #items-menu {
            /*Il faut à nouveau ajouter la couleur de fond car sinon les éléments sortent du flux (=ils sortent du menu)*/
            background-color: black;
            /*La taille que prennent  les éléments par rapport à la largeur du viewport*/
            width: 100vw;
            height: 100vh;
            /*On remet les éléments à leur place d'origine*/
            transform: translateY(0);
            transition: 2s;
        }
    
        .show-nav .burger {   
            transition: 2s;
        }

}