*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

li{
    list-style-type: none;    
}

nav #items-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    background-color: black;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(74, 128, 179);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

#sous-menu {
    position: absolute;
    top: 4.5vh;
    right: 10px;
    display: none;
    background-color: rgb(0, 0, 0);
    width: 200px;
}

#sous-menu li{
    padding:20px 10px 10px 10px;
}

#admin{
    text-align: center;
}

#admin:hover #sous-menu{
    display: block;
} 

#sous-menu li:hover{
    background-color: rgb(74, 128, 179);
}

.nav-link:hover{
    border-bottom: 3px solid rgb(74, 128, 179);
}

#container-page{
    margin-top: 7vh;
    background-color: #1d1b1b;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 2rem;
    padding: 50px;
    color : rgb(73, 136, 185);
}

#retour{
    padding: 10px 0px 30px 0;
}

#retour a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
}

#retour a i{
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0,0.7);
}

#container-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
    width: 100%;
}

#synopsis{
    color: rgb(183, 180, 180);
    width: 800px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: center;
    text-align: justify;
    padding: 20px;
}

#synopsis h4{
    font-size: 2.3rem;
}

#synopsis p{
    font-size: 1.5rem;
}

#affiche{
    height: 700px;
    width: 600px;
}

#affiche img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container-bottom{
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#infos-film{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 1.1rem;
    padding-right: 30px;
}

#bar{
    background-color: rgb(73, 136, 185);
    width: 80%;
    height: 2px;
}

#container-casting{
    border-radius: 10px;
    width: 90%;
    min-height: 10px;
    color: white;
    padding-bottom: 10px;
}

#container-casting h4{
    font-size: 1.8rem;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}

.casting-members{
    display: flex;
    justify-content: space-evenly;
}

.casting-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.member-photo{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
}

.member-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

