*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: black;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(74, 128, 179);
}

.nav-link:hover{
    border-bottom: 3px solid rgb(74, 128, 179);
}

#container-page{
    background-color: #1d1b1b;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 50px;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(74, 128, 179);
    box-shadow: rgba(81, 97, 195, 0.3) 0px 19px 38px, rgba(67, 104, 208, 0.22) 0px 15px 12px;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

form .form-champ{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 1.3rem;
}

input, textarea, select{
    padding-left: 5px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
}

input,select{
    height: 40px;
}

#genre-select{
    height: 58px;
}

#submit{
    cursor: pointer;
}