*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

.nav-link:hover{
    border-bottom: 3px solid rgb(74, 128, 179);
}

.elements-link{
    color: white;
    font-weight: bold;
}

li{
    list-style-type: none;    
}

nav #items-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    background-color: black;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(74, 128, 179);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-weight: bold;
}

#sous-menu {
    position: absolute;
    top: 25px;
    display: none; 
    background-color: rgb(0, 0, 0);
    width: 200px;
}

#sous-menu li{
    padding:20px 10px 10px 10px;
}

#admin{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#admin:hover #sous-menu{
    display: block;
} 

#sous-menu li:hover{
    background-color: rgb(74, 128, 179);
}

#container-page{
    margin-top: 7vh;
    background-color: #151414;
    width: 100%;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 50px;
    color: rgb(255, 255, 255);
}

p{
    color: white;
}

.compteur{
    margin-bottom: 30px;
    font-size: 1.4rem;
}

.container-elements{
    width: 80%;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap; 
    gap: 50px;   
}

.elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-align: center;
    height: 70px;
    gap: 2px;
}

.container-img {
    width: 100%;
    height: 330px;
}

.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elements-link {
    border-radius: 10px;
    border: 3px solid rgb(74, 128, 179);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;  
    overflow: hidden;
    position: relative;
}

.elements-link:hover  .infos-film{
    top: 0;
}

.infos-film{
    position: absolute;
    background-color: rgb(103, 103, 103, 0.9);
    width: 300px;
    height: 400px;
    top: -400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.5s;
}

.infos-film i{
    color: rgb(199, 189, 53);
}


                                        /************* RESPONSIVE ****************/

/*Tablette*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

}

/*Mobile*/

@media screen and (max-width: 600px) {

}