*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

#elements-link{
    color: black;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: #9b362a;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
}

#container-page{
    background-color: #edd8c6;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 50px;
}

#compteur{
    margin-bottom: 30px;
}

table{
    border: 1px solid black;
    background-color: whitesmoke;
    width: 400px;
    padding: 10px;
}

thead{
    background-color: gray;
}

th{
    height: 40px;
    font-size: 1.2rem;
}

td{
    border: 1px solid black;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
}