*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,span{
    text-decoration: none;
    color: white;
}

.elements-link{
    color: white;
    font-weight: bold;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background-color: black;
    height: 7vh;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(74, 128, 179);
}

#container-page{
    background-color: #151414;
    width: 100%;
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    padding: 50px;
    color: rgb(255, 255, 255);
}

p{
    color: white;
}

.compteur{
    margin-bottom: 30px;
    font-size: 1.4rem;
}

.container-elements{
    width: 80%;
    min-height: 500px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap; 
    gap: 20px;   

}

.elements{
  padding: 15px;
  background-color: rgb(74, 128, 179);
  border-radius: 100px;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
    transition: 1s;  
}


.elements:hover{
    transform: scale(1.1);
}

a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: justify;
    text-align: center;
}